lab_build a matrix

# get_rating_matrix 함수 제작
- 첫 번째 함수는 Rating Matix을 만드는 것 입니다. Rating Matrix는 영화, 책 처럼 사용자가 제품에 대한 평가를 Matrix 형태로 표현한 것입니다.  
- 저희는 movie_rating.csv라는 파일을 활용하여 rating matrix를 구성한다. 
- movie_rating.csv는 아래처럼 구성된다.

|source|target|rating|
|:---:|:---:|:---|
|Mick LaSalle|Superman Returns|3.0
|Mick LaSalle|The Night Listener|3.0
|Claudia Puig|Snakes on a Plane|3.5
|Claudia Puig|Just My Luck|3.0
|Claudia Puig|The Night Listener|4.5
|Lisa Rose|Lady in the Water|2.5
|Lisa Rose|Snakes on a Plane|3.5

생성하는 함수의 Template은 아래와 같으며, 입력값은 처리하는 csv 파일의 이름만 넣을 수 있다.

# 문제 확인

In [11]:
from PIL import Image
 
image = Image.open("question_image.png")
 
image.show()

# 데이터 확인

In [4]:
filename = 0 # 초기화
data_url = "./movie_rating.csv"
filename = pd.read_csv(data_url, header = 0) 
filename

           source              target  rating
0   Jack Matthews   Lady in the Water     3.0
1   Jack Matthews   Snakes on a Plane     4.0
2   Jack Matthews   You Me and Dupree     3.5
3   Jack Matthews    Superman Returns     5.0
4   Jack Matthews  The Night Listener     3.0
5    Mick LaSalle   Lady in the Water     3.0
6    Mick LaSalle   Snakes on a Plane     4.0
7    Mick LaSalle        Just My Luck     2.0
8    Mick LaSalle    Superman Returns     3.0
9    Mick LaSalle  The Night Listener     3.0
10   Claudia Puig   Snakes on a Plane     3.5
11   Claudia Puig        Just My Luck     3.0
12   Claudia Puig  The Night Listener     4.5
13      Lisa Rose   Lady in the Water     2.5
14      Lisa Rose   Snakes on a Plane     3.5
15      Lisa Rose        Just My Luck     3.0
16      Lisa Rose    Superman Returns     3.5
17      Lisa Rose  The Night Listener     3.0
18      Lisa Rose   You Me and Dupree     2.5
19           Toby   Snakes on a Plane     4.5
20           Toby    Superman Returns     4.0
21   Gene Seymour   Lady in the Water     3.0
22   Gene Seymour   Snakes on a Plane     3.5
23   Gene Seymour   You Me and Dupree     3.5
24   Gene Seymour  The Night Listener     3.0

- 1. group 사용자명 별
- 2. 그 사용자가 본 영화들 추리고 / 별점 입력

In [15]:
import numpy as np
import pandas as pd
filename = 0 # 초기화
data_url = "./movie_rating.csv"
filename = pd.read_csv(data_url, header = 0) 

def get_rating_matrix():
    global filename
    filename = filename.groupby(["source","target"])["rating"].sum().unstack() #.fillna(0) 로 대체도 가능
    return filename


get_rating_matrix()

target,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
source,,,,,,
Claudia Puig,3.0,NaN,3.5,NaN,4.5,NaN
Gene Seymour,NaN,3.0,3.5,NaN,3.0,3.5
Jack Matthews,NaN,3.0,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,NaN
Toby,NaN,NaN,4.5,4.0,NaN,NaN

# get_frequent_matrix
- 두 번째 함수는 얼마나 빈번하게 제품을 구매했는지를 표현하는 Frequent Matrix를 만드는 것 입니다. 
- Frequent Matrix는 사용자가 특정 제품을 구매한 횟수를 기록하는 Matrix이다. 
- 저희가 제공하는 csv파일은 1000i.csv라는 파일로 아래처럼 구성되어 있습니다.

|source|target|
|:---:|:---:|
|source|target|
|3|7|
|4|15|
|2|49|
|5|44|
|1|1|
|2|19|

본 함수에서는 기존 함수와 달리 Rating column이 없습니다. 대신 source와 target의 조합이 한 개 이상으로 중복될 수 있고, 이것이 Frequent로 처리해야 합니다. 즉 Rating이 명시적으로 있는게 아니라 데이터를 통해 Frequent를 찾아내는 것이 목적입니다. Matrix 형태로 바꾸는 규칙은 다음과 같습니다.

source는 row, target은 column의 기준이 된다.
source와 target의 정렬된 값을 활용하여 index를 설정한다. 즉 위 Table에서는 1은 row의 0번째 index로 설정된다.
Source와 Target이 출현한 정보는 Frequent로 Matrix에서 각 Element 값에 할당되어야 한다.
생성되는 Matrix Ndarray로 나타내며, dtype은 np.float32
dict, collection 모듈 등 파이썬의 Built-in Module은 사용할 수 있으나, for 문은 사용할 수 없다.
생성하는 함수의 Template은 아래와 같으며, 입력값은 처리하는 csv 파일의 이름만 넣을 수 있다.

In [5]:
import numpy as np
import pandas as pd
data_url = "./1000i.csv"
df = pd.read_csv(data_url,header = 0)


h_index = df.groupby(["source", "target"])["Points"].sum()
h_index

KeyError: 'Column not found: Points'