In [1]:
import pandas as pd
from pandas import Series
from pandas import DataFrame

import numpy as np

### Built-in functions

In [2]:
df = pd.read_csv("data/wages.csv")
df.head()

           earn  height     sex   race  ed  age
0  79571.299011   73.89    male  white  16   49
1  96396.988643   66.23  female  white  16   62
2  48710.666947   63.77  female  white  16   33
3  80478.096153   63.22  female  other  16   95
4  82089.345498   63.08  female  white  17   43

In [ ]:
df.describe()

# 유일한 값 찾아주는 unique

In [3]:
df.race.unique()

array(['white', 'other', 'hispanic', 'black'], dtype=object)

In [ ]:
dict(enumerate(sorted(df["race"].unique())))

In [4]:
value = list(map(int, np.array(list(enumerate(df["race"].unique())))[:, 0].tolist()))
key = np.array(list(enumerate(df["race"].unique())), dtype=str)[:, 1].tolist()

value, key

([0, 1, 2, 3], ['white', 'other', 'hispanic', 'black'])

In [ ]:
df["race"].replace(to_replace=key, value=value, inplace=True)

In [ ]:
df["race"]

In [ ]:
value = list(map(int, np.array(list(enumerate(df["sex"].unique())))[:, 0].tolist()))
key = np.array(list(enumerate(df["sex"].unique())), dtype=str)[:, 1].tolist()

value, key

In [ ]:
df["sex"].replace(to_replace=key, value=value, inplace=True)
df.head(5)

In [ ]:
df.sum(axis=0)

In [ ]:
df.sum(axis=1)

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum(0)

In [ ]:
df.sort_values(["age", "earn"], ascending=False).head(10)

In [ ]:
df.cumsum().head(5)

In [ ]:
df.cummax().head(10)

In [ ]:
df.sort_values("age", ascending=False).head(10)

In [ ]:
df.age.corr(df.earn)

In [ ]:
df.age[(df.age<45) & (df.age>15)].corr(df.earn)

In [ ]:
df.age.cov(df.earn)

In [ ]:
df.corr()

In [ ]:
df.corrwith(df.earn)

In [ ]:
df.sex.value_counts(sort=True)